@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.bg-primary {
  background-color: #87e8de !important;
}
.cl-cardBox {
  border-radius: 2px !important;
}

.cl-formFieldInput {
  height: 45px !important;
  border-radius: 2px !important;
  box-shadow: none;
  border: 1px solid #0390fc !important;
}

.cl-formButtonPrimary {
  height: 42px !important;
  box-shadow: none !important;
  background-color: #0390fc !important;
  border-radius: 2px !important;
}

.ant-form-item {
  margin-bottom: 0 !important;
}
.ant-form-item-label {
  padding: 0 !important;
}
